<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!taskForm.valid">Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" formControlName="description">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Expires</label>
            <input type="text" id="expires" class="form-control" formControlName="expires">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="comments">
          <div
            class="row"
            *ngFor="let commentCtrl of taskForm.get('comments').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-xs-11">
              <input type="text" class="form-control" formControlName="content">
            </div>

            <div class="col-xs-1">
              <button type="button"
                      class="btn btn-danger"
                      (click)="onDeleteComment(i)">X
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddComment()">Add Comment</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
